@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #8A1002;
    --color2: #028A49;
    --color3: #FFAE5C;
    --fontmontserrat: 'Montserrat';


}

.btn.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8A1002;
    --bs-btn-border-color: #8A1002;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #C61400;
    --bs-btn-hover-border-color: #C61400;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8A1002;
    --bs-btn-active-border-color: #8A1002;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8A1002;
    --bs-btn-disabled-border-color: #8A1002;
}

.btn.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* AO TERMINAR RETIRAR */
body{
    height: 1500vh;
}
/* header */
/* navbar */
.navbar{
    height: 90px;
}
.menu-large{
    text-transform: uppercase;
    height: 100%;
    
}
.menu-large a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e7e6e6;
}
.menu-large a:nth-child(){
    border: none;
}
.menu-logo{
    left: 40px;
    top: 20px;
    z-index: 999;
}
.menu-buttons button{
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 26px;
}
.menu-click div{
    width: 40px;
    height: 5px;
    background-color: black;
    margin: 5px;
}
.menu-med p{
    font-weight: 600;
}
/* whatsapp menu */
.whatsapp-menu{
    background-color: var(--color2);
    width: 100%;
    height: 65px;
}
.whatsapp-menu h3{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.whatsapp-menu p{
    color: white;
    font-weight: 400;
}
.whats-menu-divisor{
    height: 100%;
}
.whats-menu-divisor hr{
    background-color: #ffffff53;
    width: 1px;
    height: 100%;
}
/* common mobile menu */
.commom-mobile-menu{
    height: 91px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px -20px 30px #0000003c;
    background-color: white;
}
/* first main sec */
.front-section{
    background-image: url(../imgs/bg-img-home.jpg);
    min-height: 569px;
    
}
.front-section-images{
    max-width: 694px;
    min-width: none;
}
.f-section-img{
    position: relative;
    width: 694px;
    max-width: 694px;
    height: 428px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.f-section-img.active{
    display: block;
    opacity: 1;
}
.f-section-img img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-button button{
    margin: 15px 0;
    border: 2px solid rgba(255, 255, 255, 0.594);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 15px 20px;
    cursor: pointer;
}
.main-button button:hover{
    border: 2px solid rgb(255, 255, 255);
}
.front-vertical-wrapper{
    right: 0;
    top: 51px;
    width: 50px;
}
.vertical-dots .dot{
    background-color: rgba(255, 255, 255, 0.594);
    width: 8px;
    height: 8px;
    margin: 25px 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 998;
    transition: .1s;
}
.vertical-dots .dot:hover{
    outline: 2px solid rgba(255, 255, 255, 0.594);
    outline-offset: 5px;
}

.front-lead h1{
    color: var(--color3);
    font-weight: 800;
    font-size: 33px;
    text-transform: capitalize;
}
.front-lead h2{
    color: white;
    font-weight: 300;
    font-size: 33px;
}
.front-lead p{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
}
.lead-btn{
    border: 2px solid white;
    padding: 16px 26px;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
}
/* footer */
/* footer first sec */
.email-section{
    background-color: #000;
    min-height: 458px;
    
}
.email-section input{
    width: 100%;
    color: white;
    background-color: black;
    height: 51px;
    padding: 0 10px;
}
.email-section button{
    width: 100%;
    height: 51px;
}
.email-title h4{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}
.email-divisor{
    height: 9px;
    background-color: rgba(255, 255, 255, 0.150);
    margin: 24px 0 40px 0;
}
/* footer second sec */
.main-footer-section{
    background-color: #f6f6f6;
}
.info-atendimento h6{
    font-weight: 600;
}
.info-atendimento p{
    margin-right: 80px;
}
.atendimento-infos img{
    background-color: #000;
    border-radius: 50%;
    padding: 9px 12px;
}
.info-central h6{
    font-weight: 600;
}
.info-central img{
    background-color: #000;
    border-radius: 50%;
    padding: 10px;
}
.list-info-nav{
    list-style: none;
    columns: 2;
}
.list-info-nav li{
    margin-bottom: 10px;
}
.list-info-nav a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.info-buttons button{
    width: 100%;
    height: 51px;
}
.info-politics a{
    color: #000;
}
.info-social-medias{
    height: 50px;
}
.info-social-medias img{
    margin-left: 57px;
}
.main-footer-divisor{
    height: 1px;
    width: 100%;
    background-color: #c4c4c4;
}
.footer-rights p:nth-child(1)::after{
    content: ' | ';
}
.whatsapp-footer-bar{
    background-color: var(--color2);   
}
.whats-footer-container{
    color: white;
    min-height: 65px;
}
.whats-footer-infos{
    width: 100%;
    height: 100%;
}
.whats-footer-infos .col-4:nth-child(1){
    border-right: 1px solid rgba(255, 255, 255, 0.315);
}
.whats-footer-infos .col-4:nth-child(2){
    border-right: 1px solid rgba(255, 255, 255, 0.315);
}
/* fourth main section */
.expla-section{
    background-color: #000;
    min-height: 958px;
    height: 100%;
}
.year-and-divisor img{
    width: 539px;
    height: 182px;
    top: -100px;
    right: 0;
}
.year-and-divisor .email-divisor{
    margin-bottom: 166px;
}
.expla-title{
    padding-top: 168px;
}
.expla-title h4{
    color: white;
    font-size: 28px;
    text-transform: uppercase;
}
.expla-par{
    color: white;
}
.expla-buttons .btn.btn-primary{
    height: 51px;
    margin-right: 21px;
    text-transform: uppercase;
}
.expla-buttons .btn.btn-primary.btn-transparent{
    height: 51px;
    text-transform: uppercase;
    background-color: transparent;
}