@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #8A1002;
    --color2: #028A49;
    --color3: #FFAE5C;
    --fontmontserrat: 'Montserrat';


}

.btn.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8A1002;
    --bs-btn-border-color: #8A1002;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #C61400;
    --bs-btn-hover-border-color: #C61400;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8A1002;
    --bs-btn-active-border-color: #8A1002;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8A1002;
    --bs-btn-disabled-border-color: #8A1002;
}

.btn.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.blog-section{
    min-height: 504px;
    height: 100%;
    background-image: linear-gradient(to top, transparent, #5b152e81),
    url(../imgs/pg-blog-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-content{
    height: 278px;
    width: 764px;
    bottom: 0;
    left: 20px;
    background-color: #000000e9;
    backdrop-filter: blur(9px);
    border-bottom: 9px solid #8A1002;
}
.blog-date{
    height: 114px;
    width: 114px;
    background-color: var(--color1);
    margin-left: 20px;
    margin-top: 20px;
    color: white;
}
.blog-date h2{
    font-size: 48px;
    font-weight: 600;
}
.blog-date p{
    font-size: 13px;
    font-weight: 500;
}
.blog-theme div{
    border: 1px solid #808080;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 37px;
    border-radius: 100px;
    font-size: 15px;
}
.main-p{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.down-p{
    color: white;
    font-size: 17px;
    font-weight: 400;
}
.bread-crumb-blog{
    color: #767676;
}
.bread-crumb-blog a{
    text-decoration: none;
    color: #767676;
}
.bread-crumb-blog a:hover{
    text-decoration: underline;
}
.publication-title p{
    font-weight: 600;
    font-size: 30px;
    text-transform:lowercase;
}
.publication-text p, .publication-text ul{
    font-size: 18px;
}
.publication-text p{
    color: #4A4A4A;
}
.publication-text ul{
    font-weight: bold;
}
.title-divisor{
    height: 9px;
    width: 100%;
    background-color: #000;
}
.subjects-title h4{
    color: var(--color1);
    text-transform: uppercase;
    font-size: 30px;
}
.subjects div div{
    border: 1px solid black;
    display: inline-block;
    padding: 7px 18px;
    margin: 8px 0;
    border-radius: 100px;
    width: auto;
    height: auto;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}
.subjects div div:hover{
    transform: translatey(-5px);
    background-color: #00000017;
}
.other-publications .date{
    font-weight: 600;
    font-size: 16px;
}
.other-publications .publi-name{
    font-weight: 400;
    font-size: 16px;
}
.other-publications .publication{
    cursor: pointer;
}
.other-publications .publication:hover{
    text-decoration: underline;
}
.mini-divisor{
    height: 2px;
    width: 100%;
    background-color: #000;
}
.icon-media{
    width: 57px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.icon-media:nth-child(1){
    background-color: #CB2027;
}
.icon-media:nth-child(1):hover{
    background-color: #FF2932;
}
.icon-media:nth-child(2){
    background-color: #03A9F4;
}
.icon-media:nth-child(2):hover{
    background-color: #36C1FF;
}
.icon-media:nth-child(3){
    background-color: #1976D2;
}
.icon-media:nth-child(3):hover{
    background-color: #228EF9;
}
.icon-media:nth-child(4){
    background-color: #0077B5;
}
.icon-media:nth-child(4):hover{
    background-color: #008AD2;
}
.comment-inputs input{
    width: 100%;
    height: 51px;
    padding-left: 20px;
    color: #000;
    font-weight: 500;
    
}
.comment-inputs input::placeholder{
    color: #000;
}
.comment-inputs textarea{
    width: 100%;
    height: 191px;
    padding-left: 20px;
    padding-top: 20px;
    color: #000;
    font-weight: 500;

}
.comment-inputs textarea::placeholder{
    color: #000;
}
.paragraph{
    font-size: 14px;
    color: #808080;
}
.button button{
    width: 100%;
    height: 51px;
} 
.comment-photo i{
    font-size: 78px;
    color: var(--color1);
}
.comment-text h5{
    font-size: 20px;
    font-weight: 600;
}
.comment-text p{
    font-size: 18px;
    color: #808080;
}
.social-medias h6, .comments h6{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 26px;
}
.comments{
    margin-bottom: 137px;
}
.comment-inputs{
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transition: max-heigth 0.9s ease, visibility 0.9s ease, opacity 0.9s ease;
}
.comment-inputs.show{
    opacity: 1;
    max-height: 100%;
    visibility: visible;
    transition: max-heigth 0.9s ease, visibility 0.9s ease, opacity 0.9s ease;
}
.check-comment{
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transition: max-heigth 0.9s ease, visibility 0.9s ease, opacity 0.9s ease;
}
.check-comment.show{
    opacity: 1;
    max-height: 100%;
    visibility: visible;
    transition: max-heigth 0.9s ease, visibility 0.9s ease, opacity 0.9s ease;
}
.check-comment p{
    font-size: 22px;
}
.check-icon{
    width: 50px;
    height: 50px;
    background-color: #028A49;
    border-radius: 50%;
}
.check-icon i{
    font-size: 40px;
    color: white;
}
